<div class="container-fluid animated fadeIn fast" style="margin-top:20px; padding-left:0px;">
    <div class="row" >

        <div class="col-md-2">
            <img width="272" height="200" src="https://cdnb.20m.es/solo-un-capitulo-mas-series/files/2014/03/Cosmos1.jpg" alt="img-4">
        </div>
           
        <div class="col-md-8">
            
            <div class="card" style="margin-top:15px;"> 
                <div class="card-header">
                    Albert Einstein
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>There are olny two ways to live your life. One is as though nothing is a miracle. The other is as yhough everything is a miracle.</p>
                    <footer class="blockquote-footer">April-18th-1955 <cite title="Source Title"> Albert Einstein</cite></footer>
                    </blockquote>
                </div>
            </div>

        </div>
        
        <div class="col-md-2">
            <img width="272" height="200" src="https://i.imgur.com/j2YAd4L.jpg" alt="img-4">
        </div>

    </div>
    <div class="row" style="margin-top:5px;">
        
        <div class="col-md-2">
            <img width="272" height="200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ99CmVxQMy7n6mSlP3D2HaFGupXwiuRxQnAD-rB_q5gOH3aM7zeA" alt="img-4">
        </div>
        
        <div class="col-md-8">

            <div class="card" style="margin-top:15px;">
                <div class="card-header">
                    Nikola Tesla
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>One must be sane to think clearly, but one can think deeply and be quite insane.</p>
                    <footer class="blockquote-footer">January-7th-1943 <cite title="Source Title"> Nikola Tesla</cite></footer>
                    </blockquote>
                </div>
            </div>

        </div>
        
        <div class="col-md-2">
            <img width="272" height="200" src="http://elcondensadordefluzo.blogs.fotogramas.es/files/2014/04/cosmos-serie.jpg" alt="img-4">
        </div>

    </div>

    <div class="row" style="margin-top:5px;">
            
        <div class="col-md-2">
            <img width="272" height="200" src="http://sophimania.pe/media/images/img_bfr/sagan_tyson_cosmos.jpg" alt="img-4">
        </div>
        
        <div class="col-md-8">

            <div class="card" style="margin-top:15px;">
                <div class="card-header">
                    James Clerk Maxwell
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>The only laws of the matter are those thar our minds must fabicrate and the only laws of the mind are fabricate for it by matter.</p>
                    <footer class="blockquote-footer"> November-5th-1879 <cite title="Source Title">James Clerk Maxwell </cite></footer>
                    </blockquote>
                </div>
            </div>

        </div>
        
        <div class="col-md-2">
            <img width="272" height="200" src="https://static.iris.net.co/semana/upload/images/2014/3/1/379116_17241_1.jpg" alt="img-4">
        </div>

    </div>

</div><!-- Fin container-->