<div id="carouselExampleControls" class="carousel slide  animated fadeIn fast" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active" style="background-image:url('http://3.bp.blogspot.com/-qkA_aI_6x9s/UzMxQTGDIyI/AAAAAAAABQY/nVMfGNj3xtg/s1600/cosmos-newton-halley-animation.jpg')">
      <div class="col-md-5">
        <h2 class="carousel-text"> eos quibusdam soluta cum quidem ullam voluptatem expedita tenetur perspiciatis neque obcaecati, magni, placeat quisquam modi excepturi sequi. </h2>
      </div>
    </div>
    <div class="carousel-item" style="background-image:url('http://1.bp.blogspot.com/-4HriD5L7j7s/UzxknhGuKKI/AAAAAAAABSs/_0EAD5iCOhI/s1600/john-herschel.jpg')"></div>
    <div class="carousel-item" style="background-image:url('http://2.bp.blogspot.com/-eGVHtJL1TUc/Vf0FniVtFFI/AAAAAAAASaI/t1ImGeZHJVk/s1600/A%2BSky%2BFull%2Bof%2BGhosts%2B2.jpg')"> </div>
    <div class="carousel-item" style="background-image:url('http://1.bp.blogspot.com/-9dsLi4ThMWE/U03QvkoNIaI/AAAAAAAAI2Y/yo0qWP466eE/s1600/Cosmos-A-Spacetime-Odyssey-TV-Series-Wallpaper-1600x900.jpg')"> </div>
    <div class="carousel-item" style="background-image:url('http://elcondensadordefluzo.blogs.fotogramas.es/files/2014/04/cosmos-serie.jpg')"> </div>

  
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container" style="margin-top:30px; margin-bottom:50px; ">
  <div class="row">
    <div class="col-md-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis similique dolorem, eos quibusdam soluta cum quidem ullam voluptatem expedita tenetur perspiciatis neque obcaecati, magni, placeat quisquam modi excepturi sequi.
        <hr>
      </div>
      <div class="col-md-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis similique dolorem, eos quibusdam soluta cum quidem ullam voluptatem expedita tenetur perspiciatis neque obcaecati, magni, placeat quisquam modi excepturi sequi.
        <hr>
      </div>
      <div class="col-md-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis similique dolorem, eos quibusdam soluta cum quidem ullam voluptatem expedita tenetur perspiciatis neque obcaecati, magni, placeat quisquam modi excepturi sequi.
        <hr>
      </div>
  </div>
</div>





