<nav class="navbar navbar-expand-lg navbar-dark bg-dark"style="margin-buttom:20px;">
        
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item" routerLinkActive="mLink-active">
            <a [routerLink]="['home']"  class="nav-link">Home</a>
          </li>
    
          <li class="nav-item" routerLinkActive="mLink-active" >
            <a [routerLink]="['about']"  class="nav-link">About</a>
          </li>
    
          <li class="nav-item" routerLinkActive="mLink-active">
            <a [routerLink]="['scientists']"  class="nav-link">Scientists</a>
          </li>

          <li class="nav-item" routerLinkActive="mLink-active">
            <a [routerLink]="['quotes']"  class="nav-link">Quotes</a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar personaje" (keyup)="searchScientist(scientistParams.value)" #scientistParams />
          <button (click)="searchScientist(scientistParams.value)" class="btn btn-outline-info my-2 my-sm-0" type="button">Buscar</button>
        </form>
      </div>
      
  </nav>
    