.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.fast {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
.fadeIn {
    animation-name: fadeIn;
}

.carousel-item{
  width: 100% !important;
  height: 500px !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 280px;
  }
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.mLink-active {
  border: 2px solid #17a2b8;
  border-radius: 4px;
}

.mLink-active > a{
  color: #17a2b8 !important;
  font-weight: bold;
}
.circular{
  border-radius: 50%;
}
.colorear-borde-circular-bg-info{
  border: 5px solid #17a2b8;
}
.colorear-borde-circular-bg-success{
  border: 5px solid #1e7e34;
}
.colorear-borde-circular-bg-primary{
  border: 5px solid #0062cc;
}
.colorear-borde-circular-bg-danger{
  border: 5px solid #bd2130;
}
.colorear-borde-circular-bg-warning{
  border: 5px solid #ffc107;
}
.colorear-borde-circular-bg-dark{
  border: 5px solid #343a40;
}


.colorear-hover{
  transition: 1s;
}
.colorear-hover-bg-info:hover{
  border: 1px solid #17a2b8;
}
.colorear-hover-bg-success:hover{
  border: 1px solid #1e7e34;
}
.colorear-hover-bg-primary:hover{
  border: 1px solid #0062cc;
}
.colorear-hover-bg-danger:hover{
  border: 1px solid #bd2130;
}
.colorear-hover-bg-warning:hover{
  border: 1px solid #ffc107;
}
.colorear-hover-bg-dark:hover{
  border: 1px solid #343a40;
}

.carousel-text{
  color: white;
  text-align: justify;
}
.full-height{
  height: 620px;
  padding-top: 100px;
}
.full-width{
  width: 100%;
}